@model LonghornAirlines.Models.Business.Reservation
@{
    ViewData["Title"] = "Change Ticket Price";
}


@section imageContent{ <table class="table">
        <tr>
            <th>Ticket No</th>
            <th>Ticket Holder</th>
            <th>Flight Number</th>
            <th>Destination City</th>
            <th>Flight Date</th>
            <th>Flight Time</th>
            <th>Current Seat</th>
            <th>Current Fare</th>
            <th>Change Fare</th>
        </tr>
        <tbody>
            @foreach (Ticket t in Model.Tickets)
            {
                <tr>
                    <td>@t.TicketID</td>
                    <td>
                        @if (t.Customer == null)
                        {
                            <p>No customer selected for this ticket</p>
                        }
                        else
                        {
                            @t.Customer.FirstName
                        }
                    </td>
                    <td>@t.Flight.FlightInfo.FlightNumber </td>
                    <td>@t.Flight.FlightInfo.Route.CityTo.CityName</td>
                    <td>@t.Flight.Date.ToShortDateString()</td>
                    <td>@t.Flight.FlightInfo.FlightTime</td>
                    <td>@t.Seat</td>
                    <td>@t.Fare</td>
                    <td>
                        <a class="btn btn-secondary" asp-action="ChangeTicketPrice" asp-controller="Tickets" asp-route-id="@t.TicketID">
                            Change Fare
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" asp-action="Index" asp-controller="Reservation">Back to List</a>
}
