@model LonghornAirlines.Models.Business.Reservation
@{
    ViewData["Title"] = "Confirm";
}

@section imageContent{
    <h1>Welcome to your Reservation</h1>
    <h5>Confirm all information is correct and confirm your purchase!</h5>

    <table class="table">
        <tr>
            <th>Ticket No</th>
            <th>Ticket Holder</th>
            <th>Flight Number</th>
            <th>Flight Date</th>
            <th>Flight Time</th>
            <th>Current Seat</th>
            <th>Fare</th>
        </tr>
        <tbody>
            @foreach (Ticket t in Model.Tickets)
            {
                <tr>
                    <td>@t.TicketID</td>
                    <td>
                        @t.Customer.FirstName
                    </td>
                    <td>@t.Flight.FlightInfo.FlightInfoID</td>
                    <td>@t.Flight.Date</td>
                    <td>@t.Flight.FlightInfo.FlightTime</td>
                    <td>@t.Seat</td>
                    <td>@t.Fare</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="jumbotron">
        <h4>Reservation Subtotal: </h4> @Html.DisplayFor(r => r.ReservationSubtotal)
        <h4>Sales Tax: </h4> @Html.DisplayFor(r => r.SalesTax)
        <h2>Total: </h2> @Html.DisplayFor(r => r.ReservationTotal)
    </div>
    <a class="btn btn-info" onclick="submission()">Confirm Reservation</a>
}

@section Scripts{
    <script type="text/javascript">
function submission() {
    window.location.href = '@Url.Action("Finalize", "Reservation")/' + @Model.ReservationID;
}
    </script>
}