@model IEnumerable<LonghornAirlines.Models.Business.Reservation>

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Reservations";
}

<h1>Reservations</h1>
@if (User.IsInRole("Manager"))
{
    <h3>Manager View: All Reservations</h3>
}
<h5>To Create a New Reservation, search for flights on the home page!</h5>
<h6>To change seats, select "Details" on your flight.</h6>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationID)
            </th>
            <th>
                Trip To
            </th>
            <th>
                Departing
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationMethod)
            </th>
            <th>
                Order Total
            </th>
            <th>
                Is Confirmed
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tickets.First().Flight.FlightInfo.Route.CityTo.CityName)
            </td>
            <td>
                @item.Tickets.First().Flight.Date.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationComplete)
            </td>
            <td>
                <a asp-action="Description" asp-route-id="@item.ReservationID">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
