@model LonghornAirlines.Models.ViewModels.TicketCreationModel

@{
    ViewData["Title"] = "Edit";
}
@section imageContent
{

    <form asp-action="Edit" method="post">
        <div class="jumbotron">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TicketID" />
            @Html.DropDownListFor(tcm => tcm.CustomerID, (SelectList)ViewBag.ReservationCustomers, new { @class = "form-control" })
            <!--TODO: Customer Selection-->
            <a asp-action="TicketCustomerSearch" asp-controller="Search" asp-route-TicketID="@Model.TicketID">Find existing customer</a>

            <a asp-action="CustomerCreateAccount" asp-controller="Search" asp-route-TicketID="@Model.TicketID">Set up new customer</a>

        </div>

        <div id="container" style="width: 500px; height: 400px;">
        </div>
        <p id="seatLabel">Selected Seat: @Model.SeatID</p>
        <input type="hidden" id="SeatID" name="SeatID" />
        <a href="#" class="submitForm">Save</a>
        <object style="width: 0; height: 0;" data="~/static/drawing.svg" type="image/svg+xml" id="house"></object>

        <script>
            anychart.onDocumentLoad(function () {
                // note that you should use onDocumentLoad to get image contect
                var imageElement = document.getElementById("house");
                // get the SVG content
                var svgData = imageElement.contentDocument;

                chart = anychart.seatMap();
                seatMapSeries = chart.choropleth();
                seatMapSeries.data([
                   { id: "g0", value: "First Class", fill: "gold 0.5", hoverFill: "green 0.1", hoverStroke: "3 green"},
                   { id: "g1", value: "Budget" },
                   { id: "1A", value: "1A", info: "@ViewBag.firstClassFare"},
                   { id: "1B", value: "1B", info: "@ViewBag.firstClassFare"},
                   { id: "2A", value: "2A", info: "@ViewBag.firstClassFare"},
                   { id: "2B", value: "2B", info: "@ViewBag.firstClassFare"},
                   { id: "3A", value: "3A", info: "@ViewBag.baseFare"},
                   { id: "3B", value: "3B", info: "@ViewBag.baseFare"},
                   { id: "3C", value: "3C", info: "@ViewBag.baseFare"},
                   { id: "3D", value: "3D", info: "@ViewBag.baseFare"},
                   { id: "4A", value: "4A", info: "@ViewBag.baseFare"},
                   { id: "4B", value: "4B", info: "@ViewBag.baseFare"},
                   { id: "4C", value: "4C", info: "@ViewBag.baseFare"},
                   { id: "4D", value: "4D", info: "@ViewBag.baseFare"},
                   { id: "5A", value: "5A", info: "@ViewBag.baseFare"},
                   { id: "5B", value: "5B", info: "@ViewBag.baseFare"},
                   { id: "5C", value: "5C", info: "@ViewBag.baseFare"},
                   { id: "5D", value: "5D", info: "@ViewBag.baseFare"},
               ]);
                // set SVG data to the chart
                chart.geoData(svgData);

                // set the tooltips
                tooltips = seatMapSeries.tooltip();

                // set the tooltips titles and body texts
                tooltips.titleFormat("{%id}");
                tooltips.format("{%info}");

                // set the tooltips colors
                tooltips.background("green 0.8");
                tooltips.separator("white");


                // add a listener
                chart.listen('pointClick', function(e){
                    document.getElementById("SeatID").value = e.iterator.get("id");
                    document.getElementById("seatLabel").innerHTML = "Selected Seat:" + e.iterator.get("id");
                });

                // set container id for the chart
                chart.container("container");
                // initiate chart drawing
                chart.draw();
            });
        </script>
    </form>
}

@section Scripts{ 
<script type="text/javascript">
    $(document).ready(function () {
        $("a.submitForm").click(function () {
            $("form").submit();
        });
    });
</script>
}
