@model LonghornAirlines.Models.Business.Flight
@{
    ViewData["Title"] = "Manifest";
}
@section imageContent
{
    <h1>Manifest</h1>

    <div>
        <h4>Flight</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.hasDeparted)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.hasDeparted)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Pilot)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Pilot.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CoPilot)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CoPilot.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Attendant)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Attendant.FullName)
            </dd>
            <dt class="col-sm-2"></dt>
        </dl>
    </div>

    <table class="table">
        <tr>
            <th>Ticket No</th>
            <th>Ticket Holder</th>
            <th>Flight Number</th>
            <th>Flight Date</th>
            <th>Flight Time</th>
            <th>Seat Selection</th>
        </tr>
        <tbody>
            @foreach (Ticket t in Model.Tickets)
            {
                <tr>
                    <td>@t.TicketID</td>
                    <td>@t.Customer.NormalizedUserName</td>
                    <td>@t.Flight.FlightInfo.FlightNumber</td>
                    <td>@t.Flight.Date</td>
                    <td>@t.Flight.FlightInfo.FlightTime</td>
                    <td>@t.Seat</td>
                </tr>
            }
        </tbody>
    </table>


    <div>
        <a asp-action="Edit" asp-route-id="@Model.FlightID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}