@model IEnumerable<LonghornAirlines.Models.Business.Flight>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "View";
}

    <h1>Report</h1>

    <h4>
        @*From @ViewBag.CityFromName To @ViewBag.CityToName*@
        @*From @ViewBag.DepartDate To @ViewBag.ArriveDate*@
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.hasDeparted)
                </th>
            </tr>
        </thead>
        <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="DisplayManifest" asp-route-id="@item.FlightID">Manifest</a>
        </tr>
}
        </tbody>
    </table>