@model IEnumerable<LonghornAirlines.Models.Business.Flight>

@{
    ViewData["Title"] = "View";
}
@section imageContent
{
    <h1>View</h1>

    <p>
        From @ViewBag.CityFromName To @ViewBag.CityToName
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Flight Number
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    From 
                </th>
                <th>
                    To
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.hasDeparted)
                </th>
                <th>
                    Fare
                </th>
                <th>
                    Flight Time
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.FlightInfo.FlightInfoID
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightInfo.Route.CityFrom.CityCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightInfo.Route.CityTo.CityCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hasDeparted)
                </td>
                <td>
                    @item.FlightInfo.BaseFare
                </td>
                <td>
                    @item.FlightInfo.FlightTime
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FlightID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.FlightID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FlightID">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}