@model IEnumerable<LonghornAirlines.Models.Business.Flight>

@{
    ViewData["Title"] = "View";
}
@section imageContent
{
    <h1>View</h1>

    <h4>
        From @ViewBag.CityFromName To @ViewBag.CityToName
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Flight Number
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    From 
                </th>
                <th>
                    To
                </th>
                <th>
                    Economy
                </th>
                <th>
                    First Class
                </th>
                <th>
                    Flight Time
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.FlightInfo.FlightInfoID
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightInfo.Route.CityFrom.CityCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightInfo.Route.CityTo.CityCode)
                </td>
                <td>
                    @item.FlightInfo.BaseFare
                </td>
                <td>
                    
                </td>
                <td>
                    @item.FlightInfo.FlightTime
                </td>

            </tr>
            }
        </tbody>
    </table>
}