@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/static/style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-md" style="background-color: RGB(253,216,71)">
        <a class="navbar-brand" style="color:white" href="/Home">
            Longhorn Airlines
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon">
                <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-md-3">
                    Booking
                </li>
                <li class="nav-item mr-md-3">
                    Reservations
                </li>
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Welcome @User.Identity.Name!
                    </a>
                    <div class="dropdown-menu">
                        <a asp-action="Index" asp-controller="Account" title="Manage" class="dropdown-item">My Account</a>
                        <a class="dropdown-item" href="">Support</a>
                        <form asp-action="LogOff" asp-controller="Account" method="post" id="logoutForm" class="navbar-right" )>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="dropdown-item">Log Off</span></a></li>
                            </ul>
                        </form>
                    </div>
                </div>
            }
            else
            {
                <a asp-action="Login" asp-controller="Account" class="btn btn-outline-light my-2 my-sm-0" style="margin:5px" type="button">Log In</a>
                <a asp-action="Register" asp-controller="Account" class="btn btn-outline-light my-2 my-sm-0" style="margin:5px" type="button">Register</a>
            }

        </div>
    </nav>
    <!-- Full Page Image Header with Vertically Centered Content -->
    <header class="masthead">
        <div class="container-fluid">
            <div class="card m-md-5 background-card">
                <div class="card-body">
                    @RenderSection("imageContent", required: false)
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
            @RenderSection("pageContent", required: false)
            @RenderBody()
        </div>
    </section>
    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
