@model LonghornAirlines.Models.Business.FlightInfo

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    @Html.HiddenFor(model => model.FlightInfoID)
    <h4>
        Flight Number @Html.DisplayFor(model => model.FlightNumber)<br />
        From: @Html.DisplayFor(model => model.Route.CityFrom.CityName) (@Html.DisplayFor(model => model.Route.CityFrom.CityCode))  To: @Html.DisplayFor(model => model.Route.CityTo.CityName) (@Html.DisplayFor(model => model.Route.CityTo.CityCode))
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BaseFare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BaseFare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tuesday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tuesday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wednesday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wednesday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thursday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thursday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Friday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Friday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Saturday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Saturday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sunday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sunday)
        </dd>
    </dl>
</div>

<h5>Flights under this flight number: </h5>
<table class="table table-primary">
    <tr>
        <th>Flight Number: </th>
        <th>Date: </th>
        <th>Time: </th>
        <th>Base Fare: </th>
        <th>Pilot: </th>
        <th>Co-Pilot: </th>
        <th>Attendant: </th>
        <th>Already Departed: </th>
    </tr>
    @foreach (Flight f in Model.Flights.Where(f => f.Canceled == false))
    {
    <tr>
        <td>@Html.DisplayFor(m => m.FlightNumber)</td>
        <td>@Html.DisplayFor(ModelItem => f.Date)</td>
        <td>@Html.DisplayFor(m => m.FlightTime)</td>
        <td>@Html.DisplayFor(ModelItem => f.BaseFare)</td>
        <td>@Html.DisplayFor(ModelItem => f.Pilot.FullName)</td>
        <td>@Html.DisplayFor(ModelItem => f.CoPilot.FullName)</td>
        <td>@Html.DisplayFor(ModelItem => f.Attendant.FullName)</td>
        <td>@Html.DisplayFor(ModelItem => f.hasDeparted)</td>
        <td><a asp-action="Details" asp-controller="Flights" type="submit" asp-route-id=@f.FlightID>Details</a> | <a asp-action="CheckIn" asp-controller="Flights" asp-route-id=@f.FlightID>Check In</a> @if (User.IsInRole("Manager")) { if (f.hasDeparted == false) { <p><a asp-action="Delete" asp-controller="Flight" asp-rout-id=@f.FlightID>Disable</a> |  <a asp-action="Edit" asp-controller="Flights" type="submit" asp-route-id=@f.FlightID>Edit</a> </p>}
        }  </td>
    </tr>
    }

</table>


    <div>
        <a asp-action="Edit" asp-route-id="@Model.FlightInfoID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
