@model IEnumerable<LonghornAirlines.Models.Business.FlightInfo>

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Manage Flights";
}

<h1>Manage Flights</h1>

<p>
    @if (User.IsInRole("Manager"))
    {
        <a asp-action="Create">Create New Flight Number</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route.CityFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route.CityTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseFare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tuesday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wednesday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thursday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Friday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saturday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sunday)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.FlightInfoID)
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Route.CityFrom.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Route.CityTo.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseFare)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tuesday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wednesday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Thursday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Friday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saturday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sunday)
                </td>
                <td>
                    @if (User.IsInRole("Manager"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.FlightInfoID">Edit</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.FlightInfoID">Details</a>
                </td>
            </tr>

        }
        @if (User.IsInRole("Manager"))
        {
            <a asp-action="Create" asp-controller="Flights">Create Single Flight Instance</a>
        }
    </tbody>
</table>
