@model LonghornAirlines.Models.Business.Flight
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "CheckIn";
}

<h1>CheckIn</h1>
<h4 class="alert-danger">@ViewBag.Error</h4>

<table class="table">
    <thead>
        <tr>
            <th>Pilot</th>
            <th>Co-Pilot</th>
            <th>Flight Attendant</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @if (Model.Pilot != null)
                {
                    @if (Model.PilotCheckIn == false)
                    {
                        @Html.DisplayFor(model => model.Pilot
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   ) <button class="btn btn-primary" asp-action="CheckInSpecial" asp-route-id=@Model.FlightID asp-route-person="Pilot">Check In</button>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Pilot.FullName) <button class="btn btn-success">Checked In</button>
                    }
                }
                else
                {
                    <p class="text-danger">Pilot Unassigned!</p>
                }

            </td>
            <td>
                @if (Model.CoPilot != null)
                {
                    @if (Model.CoPilotCheckIn == false)
                    {
                        @Html.DisplayFor(model => model.CoPilot.FullName)<button class="btn btn-primary" asp-action="CheckInSpecial" asp-route-id=@Model.FlightID asp-route-person="Co-Pilot">Check In</button>

                    }
                    else
                    {
                        @Html.DisplayFor(model => model.CoPilot.FullName)<button class="btn btn-succes">Checked In</button>

                    }
                }
                else
                {
                    <p class="text-danger">Co-Pilot Unassigned!</p>
                }
            </td>
            <td>
                @if (Model.Attendant != null)
                {
                    @if (Model.AttendantCheckIn == false)
                    {
                        @Html.DisplayFor(model => model.Attendant.FullName) <button class="btn btn-primary" asp-action="CheckInSpecial" asp-route-id=@Model.FlightID asp-route-person="Attendant">Check In</button>

                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Attendant.FullName) <button class="btn btn-success">Checked In</button>

                    }
                }
                else
                {
                    <p class="text-danger">Attendant Unassigned!</p>
                }
            </td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                Seat
            </th>
            <th>
                Fare
            </th>
            <th>
                Check In
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Ticket t in Model.Tickets) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => t.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.Seat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.Fare)
            </td>
            @if (t.CheckedIn == false)
            {
                <td>
                    <a class="btn btn-primary" type="submit" asp-action="CheckInTicket" asp-route-id=@t.TicketID>Check In</a>
                </td>
            }
            @if (t.CheckedIn == true)
            {
                <td>
                    <button class="btn btn-success">Checked In</button>
                </td>
            }

        </tr>  
}    
    </tbody>
</table>
<a class="btn btn-primary" type="submit" asp-action="FinalizeCheckin" asp-route-id=@Model.FlightID>Finalize Checkin- Get Manifest</a>