@model LonghornAirlines.Models.Business.Flight

@{
    ViewData["Title"] = "Delete";
}

<h1>Disable</h1>
<h3>Are you sure you want to disable this Flight?</h3>
<div>
    <h4>Flight Instance (FlightID): @Html.DisplayFor(model => model.FlightID)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Flight Number</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.FlightInfo.FlightNumber)</dd>
        <dt class="col-sm-2">From </dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.FlightInfo.Route.CityFrom.CityName)</dd>
        <dt class="col-sm-2">To </dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.FlightInfo.Route.CityTo.CityName)</dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>


        <form asp-action="Delete">
            <input type="hidden" asp-for="FlightID" />
            <input type="submit" value="Disable" class="btn btn-danger" /> |
            <a asp-action="Details" asp-controller="FlightInfos" asp-route-id=@Model.FlightInfo.FlightInfoID>Back to List</a>
        </form>
</div>
